* {
    font-family: Comfortaa, serif;
}
/*_____________________HEADER____________________________________*/

.header__page h3 {
    text-align: center;
    font-family: Comfortaa, serif;
    line-height: 1.2;
}

.header__page p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin: 10px;
    color: #d5d8f3;
}

.search-form-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 90px;
}

.search-form-header > div {
    margin: 10px;

}

.search-form-header input {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.search-form-header .search-job {
    flex-grow: 2;
}

.search-form-header .search-place {
    flex-grow: 1;
}

.search-form-header .btm-search {
    padding: 10px;
    background-color: #8b91dd;
    font-size: 30px;
    border-radius: 8px;
}

.search-form-header a {
    color: #ffffff;
}

/*_____________________MAIN____________________________________*/

.main-content {
    width: 70%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.category h3 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    font-family: Comfortaa, serif;
    line-height: 1.2;
}

.category p {
    font-size: 15px;
    color: #888888;
    text-align: center;
    padding: 5px;
}

.category-grid {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.category-sec > div {
    text-align: center;
    width: 100%;
    border: 1px solid #e8ecec;
}

.category-sec i {
    color: var(--buttons-purple-color);
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}

.category-sec span {
    font-size: 18px;
    color: #232323;
    margin: 10px 0;
}

.category-sec p {
    color: var(--main-pink-color);
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}

.category-sec i:hover {
    color: var(--main-pink-color);
}

.category-sec > div:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.btm-all-category {
    border: solid 2px var(--main-pink-color);
    color: var(--main-pink-color);
    border-radius: 10px;
    padding: 20px;
    line-height: 22.5px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    width: 30%;
    margin: auto;
}

.btm-all-category:hover {
    background-color: var(--main-pink-color);
    color: white;
}

.make-account-background {
    padding: 0;
    margin: 20px 0;
    max-width: 100%;
    height: auto;
    background: linear-gradient(to right, rgba(83,100,226,0.55) 0%,rgba(52,51,117,1) 97%,rgba(51,49,114,1) 100%),
    url(../img/bmstuNight.jpg) 0 0/cover no-repeat;
    overflow: hidden;
}

.create-account {
    padding-top: 50px;
    padding-bottom: 100px;
}

.create-account::after {
    margin: 20px;
}

.create-account h3 {
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    font-family: Comfortaa, serif;
    line-height: 1.2;
    color: white;
    margin: 30px;
}

.create-account p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: Comfortaa, serif;
    line-height: 1.2;
    color: white;
    margin: 30px;
}

.btm-create-account {
    border: solid 2px white;
    color: white;
    border-radius: 10px;
    padding: 20px;
    line-height: 22.5px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    width: 30%;
    margin: auto;
}

.btm-create-account:hover {
    background-color: white;
    color: var(--main-pink-color);
}


.featured-jobs h3 {
    font-size: 23px;
    font-weight: 900;
    color: var(--text-light-black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.2;
    text-align: center;
}

.featured-jobs-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 0;
    border-radius: 4px;

}

.featured-jobs-item:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.featured-jobs-item-right {
    margin-bottom: 10px;
    font-weight: 500;
    box-sizing: border-box;
    letter-spacing: 0;
    padding: 20px;
}

.logo-featured-jobs {
    float: left;
}

.describe-featured-jobs {
    display: inline-block;
}

.describe-featured-jobs h3 {
    font-size: 18px;
    color: var(--text-light-black);
    line-height: 1.2;
    margin: 3px;
    font-weight: bold;
}

.describe-featured-jobs span {
    font-size: 13px;
    color: grey;
    line-height: 10px;
}

.featured-jobs-item-employer {
    color: var(--buttons-purple-color);
    border: 1px solid var(--buttons-purple-color);
    border-radius: 4px;
    font-size: 12px;
    padding: 7px 0;
    text-align: center;
    width: 80px;
}

.featured-jobs-item-left {
    padding: 20px;
}

.featured-jobs-item-left h5 {
    font-size: 13px;
    color: grey;
    line-height: 10px;
    text-align: right;
    margin-top: 10px;
}

.companies-helped {
    margin: 30px 0;
}

.companies-helped div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0;

}

.companies-helped h3{
    font-size: 23px;
    font-weight: 900;
    color: var(--text-light-black);
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.2;
    text-align: center;
}

.companies-helped img {
    width: 150px;
}