*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;

	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* Конец обнуления */
body {
	padding: 10px;
}
header{
	height: 450px;
	border-radius: 15px;
	box-shadow: 0 0 10px #000;
}
.block{
	background:  url('../img/office.jpg') 50%/cover;
}
.block-overlay{
	border-radius: 15px;
	width: 100%;
	height: 100%;
	background: rgba(168,73,163,0.3);
}

/* summary */
input[type="file"]{
	position: relative;
    width: 90px;
}
form div {

  margin-bottom: 15px;
  position: relative;
}
.form-wrap {
	margin: 20px auto;
    width: 100%;
	max-width: 800px;
    min-width: 600px;
	background: rgba(168,73,163,0.5);
	border-radius: 20px;
	box-shadow: 0 0 5px #000;
}
.form-wrap h1 {
  font-size: 24px;
  font-weight: 400;
  position: relative;
  margin-top: 50px;
}
.form-wrap *{transition: all 0.5s linear} /*Плавный переход анимации в течении 0.5с*/
.profile {
  width: 300px;
  float: left;
  text-align: center;
  padding: 30px;
}
.summary {
  background: white;
  float: left;
  width: calc(100% - 300px);
  padding: 30px;
  border-radius: 0 20px 20px 0;
  color: #7b7b7b;
}
.form-wrap:after, .summary div:after {
  content: "";
  display: table;
  clear: left;
}

/********************** стилизация элементов формы **********************/
label, span {
  display: block;
  font-size: 15px;
  margin-bottom: 10px;
}
input[type="text"], input[type="email"], input[type="tel"] {
  width: 100%;
  padding: 10px 15px;
  background: #e6e6e6;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus { /*выделяем поле при клике*/
  box-shadow: inset 0 0 0 3px rgba(0,0,0,.2);
}
.switch label {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  width: 50%;
  float: left;
  line-height: 40px;
}
.switch input {
  position: absolute;
  opacity: 0;
}
.switch-control {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: #e6e6e6;
  border-radius: 50%;
  text-align: center;
}
.male:before {
  content: "муж";
  font-family: FontAwesome, serif;
  font-weight: bold;
}
.female:before {
  content: "жен";
  font-family: FontAwesome, serif;
  font-weight: bold;
}
.switch label:hover input ~ .switch-control,
.switch input:focus ~ .switch-control {
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
}
.switch input:checked ~ .switch-control {
  color: #6560F4FF;
}
select {
    cursor: pointer;
    padding: 10px 15px;
    background: #e6e6e6;
    color: #7b7b7b;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select[id="country"], select[id="select-education"] {
  width: 100%;
}

.description-block {
    margin: 15px;
    font-size: 20px;
    color: black;
    text-align: center;
}
button[id="btn1"] {
  padding: 10px 0;
  border-width: 0;
  display: block;
  width: 120px;
  margin: 25px auto 0;
  background: #60e6c5;
  color: white;
  font-size: 14px;
  outline: none;
  text-transform: uppercase;
}
.exp-card {
    margin-top: 15px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 1px #000;
}
.salary-row{
    display: flex;
}
a[id="prof-exp"], a[id="lang"] {
    color: #8473C6FF !important;
    text-decoration: none;
    border-bottom:#8473C6FF 1px dotted;
}
.work-exp-row1 {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button[id="btn2"] {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    background: #AD7FA8FF;
    box-shadow: 0 -1px #75507BFF inset;
}
button[id="btn2"]:hover { background: #75507BFF; }
button[id="btn2"]:active {
    background: rgb(92, 53, 102);
    box-shadow: 0 3px rgb(92, 53, 102) inset;
}
textarea {
    min-width: 100%;
    max-width: 100%;
    background-color: #e6e6e6;
    padding:5px;
}
input[id="date-birth"] {
    background: #e6e6e6;
}
div.logo {
    max-width: 80%;
    display: inline-flex;
    color: #8473C6FF;
}
div.achievements {
    display: flex;
    /*justify-content: end;*/
    justify-content: space-between;
}