.multiselect {
    width: 100%;
    border: 1px solid var(--border-grey-color);
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bolder;
}

#checkboxes {
    display: none;
    /*border: 1px #dadada solid;*/
    padding: 15px 2px 0;
}

#checkboxes label {
    display: block;
    margin-bottom: 10px;
}

.sum-input-photo{
    //opacity: 0;
    //z-index: -1;
    padding: 15px 25px;
}
