
@import "public/css/vars";

.multiselect {
    width: 100%;
    border: 1px solid var(--border-grey-color);
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bolder;
}

#checkboxes {
    display: none;
    /*border: 1px #dadada solid;*/
    padding: 1.5rem 0.5rem 0;
}

#checkboxes label {
    display: block;
    margin-bottom: 1rem;
}

