@import "public/css/vars";

.reg {
    text-align: center;
    max-width: fit-content;
    //padding-bottom: 5%;
}

.reg-input {
    margin-right: 5rem;
}


.Switcher {
    position: relative;
    display: flex;
    box-shadow: 0 0 0.5rem var(--buttons-purple-color);
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    font-size: $font-size_h4;
    will-change: transform;
    justify-content: center;
    width: 100%;

    @include mobile {
        font-size: $font-size_h4_m;
    }


    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        border-radius: inherit;
    }

}

.Switcher__trigger {
    position: relative;
    z-index: 1;
    padding: 1em 3em;

    &::after {
        content: attr(data-value);
    }

    &::before {
        --i: var(--x);
        content: attr(data-value);
        position: absolute;
        color: white;
        transition: opacity .3s;
        opacity: calc((var(--i) + 1) / 2);

        .Switcher__checkbox:checked + .Switcher & {
            --i: calc(var(--x) * -1);
        }
    }

    &:nth-of-type(1)::before {
        --x: 1;
    }

    &:nth-of-type(2)::before {
        --x: -1;
    }
}


.box {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    perspective: 750px;
    margin-bottom: 2.5rem;
    padding: 2rem 1rem;
}




.dropbtn {
    background-color: white;
    color: var(--main-pink-color);
    padding: 1rem;
    font-size: $font-size_h4;
    border: $border_btn solid var(--main-pink-color);
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    color: white;
    background-color: var(--main-pink-color);
}

#myInput {
    box-sizing: border-box;
    font-size: $font-size_h4;
    padding: 1.4rem 2rem;
    border: none;
    border-bottom: 0.1rem solid var(--background-grey-color);
    width: 100%;
}

#myInput:focus {outline: 0.5rem solid var(--background-grey-color);}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    overflow: auto;
    border: $border_btn solid var(--border-grey-color);
    z-index: 1;

    &__div {
        color: black;
        padding: 1.2rem 1.6rem;
        text-decoration: none;
        display: block;

        &:hover {
            background-color: var(--background-grey-color);
            cursor: pointer;
        }
    }
}

.show {display: block;}


.background-color {
    background: var(--main-pink-color);
}