.nav{
    color:black;
    font: 15px Quicksand, serif;
    margin: 0px 0px 12px;
    text-align: right;
}

.header {
    background: linear-gradient(to right, rgba(83,100,226,0.55) 0%,rgba(52,51,117,1) 97%,rgba(51,49,114,1) 100%),
    url(../images/bg_employer1.jpg) 0 0/cover no-repeat;
}
.container {
    max-width: 1223px;
    margin: 0px auto;
}
.header__row {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.header__top {
    display: flex;
    box-sizing: border-box;
    min-height: 195px;
    /*flex-wrap: 1;*/

}
.header__item-logo {
    /*background: url(../img/logo.png);*/
    width: 178px;
    margin: 30px 0 0;
}
.logo {
    width: 178px;
    height: 40px;
}
.header__item-menu {
    flex-grow: 1;
    justify-content: flex-end;
}
.menu-list{
    text-align: right;
    padding: 40px 0 0;
}

.header__item {
    padding: 20px;
    font-size: 14px;
    color: #fff;
}
.header__item_simple:hover{
    font-size: 16px;
}

.header__item_big-button {
    border: 2px solid #fb236a;
    background-color: #fb236a;
    border-radius: 35px;
    overflow: hidden;
    padding: 15px 25px;
}
.header__item_big-button:hover{
    background-color: transparent;
}

.header__item_key-icon {
    font-size: 18px;
}
.header__item_key-icon:hover{
    font-size: 20px;
}

.header__item_link-icon {
    font-size: 18px;
}
.header__item_link-icon:hover{
    font-size: 20px;
}
.header__bottom {
    color: #fff;
    font-size: 30px;
    margin: 50px 0;
}
.header__page {
    text-align: center;
}

.title{
    color:black;
    font: 25px Quicksand, serif;
    margin: 0px 0px 12px;
    text-align: center;
}

.text{
    color:black;
    font: 15px Quicksand, serif;
    margin: 0px 0px 12px;
    text-align: center;
}

.info{
    color:black;
    font: 25px Quicksand, serif;
    margin: 0px 0px 12px;
    text-align: center;
}

.info{
    color:black;
    font: 10px Quicksand, serif;
    margin: 0px 0px 12px;
}

.error{
    color: red;
    font: 25px Quicksand, serif;
    margin: 0px 0px 12px;
    text-align: center;
}

.signupbutton{
    color: #FFFFFF;
    background: #141F72;
    padding: 8px 30px;
    margin: 8px 0px 0px;
    font: 23px -apple-system, "Lato Black";
    border-radius: 20px;
}

.select-user {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.select-user > span {
    float: none;
    display: inline-block;
    font-size: 13px;
    color: #202020;
    border: 2px solid;
    text-align: center;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    padding: 9px 29px;
    margin: 0 5px;
    cursor: pointer;
}

.profile-img {
    text-align: center;
}

.profile-menu {
    color:black;
    font: 20px Quicksand, serif;
    margin: 0px 0px 12px;
    text-align: right;
}