
$font-size_h1: 4rem;
$font-size_h2: 3.5rem;
$font-size_h3: 3rem;
$font-size_h4-5: 2.5rem;
$font-size_h4: 2rem;
$font-size_h5: 1.5rem;
$font-size_h6: 1.2rem;

$font-size_p: 2.5rem;

$font-size_btn: 2rem;

$font-size_txt: 1.7rem;

$border_btn: 0.2rem;
$border-radius_btn: 5rem;
$border-radius_input: 1rem;


$btn_padding: 2rem;

$margin-title: 5rem;
