
@import "public/css/vars";

.resume-contacts {
    width: 70%;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15rem;
    min-width: 10rem;
}

.share-bar {
    padding: 2rem;
    font-size: $font-size_h4;
    color: var(--text-light-black);
    line-height: 4rem;
}

.share-bar a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-radius: 50%;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    margin: 6px;
}

.share-bar svg {
    margin-top: 10px;
    display: inline-block;
}

.share-fb {
    color: #3b5998;
    border-color: #3b5998;
}

.share-fb:hover {
    color: #FFFFFF;
    background-color: #3b5998;
}

.share-twitter {
    color: #1da1f2;
    border-color: #1da1f2;
}

.share-twitter:hover {
    color: #FFFFFF;
    background-color: #1da1f2;
}

.share-odnoklassniki {
    color: var(--odnoklassniki-orange);
    border-color: var(--odnoklassniki-orange);
}

.share-odnoklassniki:hover {
    color: white;
    background-color: var(--odnoklassniki-orange);
}
.share-vk {
    color: var(--vk-blue);
    border-color: var(--vk-blue);
}

.share-vk:hover {
    color: white;
    background-color: var(--vk-blue);
}


.line-box-cv {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
}

.line {
    border-top: 1px solid #888888 !important;
    border: 1px solid#FFFFFF;
    width: 67%;
    margin-left: auto;
    margin-right: auto;
}