
@import "public/css/vars";


.fix-height {
    height: calc(100vh - 11rem) !important;
}

.chats-page{
    display: flex;
    height: calc(100vh - 11rem);
}

.chat-lists {
    width: 80rem;
    min-width: 15rem;
    height: 100%;
}



.chat-lists__search {
    width: 100%;
    text-align: center;
    padding: 2rem;
    position: sticky;
    top: 0;
    background: white;
    height: 8rem;
    border-right: 0.1rem solid var(--border-grey-color);
}

.dialogues-search-input {
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    font-size: $font-size_h4;
    border-radius: 1rem;
    border: 0.1rem solid white;
    background: var(--border-grey-color);
}

.dialogues-search-input:focus {
    background: white;
    border: 0.1rem solid var(--main-pink-color);
}

.chat-lists-all {
    height: calc(100% - 8rem);
    overflow-y: scroll;
}


.for-scroll::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #f9f9fd;
}

.for-scroll::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--buttons-purple-color);
}

.for-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.6rem rgba(0,0,0,0.2);
    border-radius: 1rem;
    background-color: #f9f9fd;
}

.chat-lists-single {
    display: flex;
    padding: 1rem;
    background: white;
    border-bottom: 0.1rem solid var(--background-grey-color);
}

.chat-lists-single:hover {
    background: var(--background-grey-color);
    cursor: pointer;
}

.chat-lists-single:focus {
    background: var(--main-pink-color);
}

.chat-lists-single__photo {
    width: 100%;
    max-width: 9rem;
    height: 9rem;
    border-radius: 50rem;
    background: no-repeat 0 0/cover url(Img/defaultRes.png);
    margin-right: 1rem;
}

.chat-lists-single__preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.dialogue-last-message {
    display: flex;
    overflow: hidden;
    font-size: $font-size_h4-5;
}

.initial-message {
    color: var(--buttons-purple-color);
    margin-right: 0.1rem;
}

.chat {
    background: #8a99b3;
    width: calc(100vw - 30rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 20rem;
}

.top-information {
    width: 100%;
    background: white;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dialogue-name {
    font-weight: 600;
    font-size: $font-size_h4;
}

.dialogue-name_chat {
    margin: auto;
}

.dialogue-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to right, rgba(83, 100, 226, 0.55) 0%, rgba(52, 51, 117, 1) 97%, rgba(51, 49, 114, 1) 100%);
    overflow-y: scroll;
}



.input-field {
    display: flex;
    background: white;
    height: 6rem;
}

.input-field__message {
    margin: 0 0 0 2rem;
    width: calc(100% - 10rem);
}

.input-field__send-btn {
    margin: auto 2rem auto;
    width: 4.5rem;
    height: 4.5rem;
    background: no-repeat 0 0/cover url(Img/send.svg);
    cursor: pointer;
}

.send-message-input {
    height: 100%;
    width: 100%;
    font-size: $font-size_h4-5;
}

.single-message {
    width: fit-content;
    background: white;
    font-size: $font-size_h4-5;
    color: black;
    padding: 1rem;
    max-width: 25rem;
    display: flex;
    border-radius: 2rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    border-bottom-left-radius: 0;
}

.single-message_my {
    max-width: 100%;
    margin-left: auto;
    margin-right: 1rem;
    justify-content: flex-end;
    background: var(--buttons-purple-color);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2rem;
    color: white;
}