
@import "public/css/vars";



.for-scroll::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #f9f9fd;
}

.for-scroll::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--buttons-purple-color);
}

.for-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.6rem rgba(0,0,0,0.2);
    border-radius: 1rem;
    background-color: #f9f9fd;
}




.max-width {
    width: 100% !important;
}

.fix-height {
    height: calc(100vh - 11rem) !important;
    background: var(--background-grey-color-no-alpha);
    @include mobile {
        height: calc(100vh - 12.5rem) !important;
    }
}

.chats-page{
    display: flex;
    padding: 2.5rem 0;
    height: calc(100vh - 10.6rem);
    border: var(--background-grey-color-no-alpha);
    @include mobile {
        padding: 0;
        height: calc(100vh - 12.2rem);
    }
}

.chat-lists {
    width: 80rem;
    min-width: 15rem;
    height: 100%;

    &__search {
        width: 100%;
        text-align: center;
        padding: 2rem;
        position: sticky;
        top: 0;
        background: white;
        height: 8rem;
        border-right: 0.1rem solid var(--background-grey-color);
        border-bottom: 0.1rem solid var(--background-grey-color);

        @include mobile {
            height: 11rem;
        }
    }
}




.dialogues-search-input {
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    font-size: $font-size_h4;
    border-radius: 1rem;
    border: 0.1rem solid white;
    background: var(--background-grey-color-no-alpha);

    @include mobile {
        font-size: $font-size_h3;
    }
}

.dialogues-search-input:focus {
    background: white;
    border: 0.1rem solid var(--main-pink-color);
}

.chat-lists-all {
    height: calc(100% - 8rem);
    overflow-y: scroll;

    @include mobile {
        height: calc(100% - 11rem);
    }
}


.chat-lists-single {
    display: flex;
    padding: 1rem 2rem;
    background: white;
    border-bottom: 0.1rem solid var(--background-grey-color);



    &:hover {
        background: var(--background-grey-color);
        cursor: pointer;
    }

    &:focus {
        background: var(--main-pink-color);
    }

    &__photo {
        width: 100%;
        max-width: 9rem;
        height: 9rem;
        border-radius: 50rem;
        background: no-repeat 0 0/cover url(Img/defaultRes.png);
        margin-right: 1rem;

        @include mobile {
            max-width: 12rem;
            height: 12rem;
            margin-right: 3rem;
        }
    }

    &__preview {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.single-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &__name{
        font-weight: 600;
        font-size: $font-size_h4;
        letter-spacing: 0.1rem;

        @include mobile {
            font-weight: 550;
            font-size: $font-size_h3_m;
        }
    }

    &__data{
        color: var(--background-grey-color);
    }

    &__time {
        color: grey;
        font-size: $font-size_h5;

        @include mobile {
            font-size: $font-size_h5_m;
        }
    }

}

.dialogue-last-message {
    display: flex;
    overflow: hidden;
    font-size: $font-size_h4-5;
    min-height: 2rem;

    @include mobile {
        font-size: $font-size_h4_m;
        min-height: 3rem;
    }
}

.initial-message {
    color: var(--buttons-purple-color);
    margin-right: 0.1rem;
}

.chat {
    width: calc(100vw - 30rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 20rem;
}

.top-information {
    width: 100%;
    background: white;
    height: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid var(--background-grey-color);

    @include mobile {
        height: 10rem;
    }
}

.dialogue-name {
    font-weight: 600;
    font-size: $font-size_h4;
    border-radius: 50rem;

    @include mobile {
        font-weight: 550;
        font-size: $font-size_h3_m;
    }

    &_chat {
        margin: auto;
        letter-spacing: 0.1rem;
        max-width: 42rem;
        @include mobile {
            margin:0;
            text-align: center;
        }
    }

    &_photo {
        width: 7rem;
        height: 7rem;
        margin: 1rem;
    }
}


.back-to-chats {
    color: var(--buttons-purple-color);
    font-size: $font-size_h4-5_m;
    margin: 1rem;

    &:before {
        content: '';
        display: inline-block;
        width: $font-size_h4-5_m;
        height: $font-size_h4-5_m;
        background: no-repeat 0 0/cover url(Img/back.svg);
    }

    &:hover {
        color: var(--border-grey-color);
    }
}

.dialogue-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    padding: 0 1rem;
    background: white;
}

.default-chat {
    width: calc(100vw - 30rem);
    overflow-y: hidden;
    height: calc(100vh - 15.6rem);
    display: flex;
    justify-content: center;
    align-items: center;

    &__message{
        width: fit-content;
        padding: 1rem 2rem;
        border-radius: 5rem;
        background: var(--buttons-purple-color);
        color: white;
    }
}



.input-field {
    display: flex;
    background: white;
    height: 6rem;

    @include mobile {
        height: 8rem;
    }

    &__message {
        margin: 0 0 0 2rem;
        width: calc(100% - 10rem);
        padding: 0.7rem 0;

        @include mobile {
            padding: 1rem 0;
        }
    }

    &__send-btn {
        margin: auto 2rem auto;
        width: 4.5rem;
        height: 4.5rem;
        background: no-repeat 0 0/cover url(Img/send.svg);
        cursor: pointer;
    }

}

.send-message-input {
    height: 100%;
    width: 100%;
    font-size: $font-size_h4-5;
    background: var(--background-grey-color-no-alphawork-experience);
    padding: 1.3rem 2rem;
    resize: none;
    max-height: 12rem;

    @include mobile {
        border-radius: 5rem;
        padding: 0 4rem;
        font-size: $font-size_h3;
        min-height: 6rem;
    }
}

.resize-textarea {
    height:auto;
    border-radius:0;
}

.single-message {
    width: fit-content;
    background: var(--background-grey-color-no-alpha);
    font-size: $font-size_h4-5;
    color: black;
    padding: 1rem;
    //max-width: 25rem;
    display: flex;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    border-bottom-left-radius: 0;
    max-width: 90%;

    @include mobile {
        font-size: $font-size_h3;
        margin-bottom: 1rem;
    }


    &__body{
        padding: 0.5rem 0 0 0.5rem;
        font-size: $font-size_h4-5;

        @include mobile {
            font-size: $font-size_h3;
        }
    }
    &__data{
        align-self: flex-end;
        color: gray;
        font-size: $font-size_h5;
        margin: 1rem 0 0 1rem;

        @include mobile {
            margin: 2rem 0 0 2rem;
            font-size: $font-size_h4-5_m;
        }

        &_my {
            color: var(--border-grey-color);
        }

        &_tech {
            color: white;
        }
    }




    &_my {
        margin-left: auto;
        justify-content: flex-end;
        background: var(--buttons-purple-color);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 2rem;
        color: white;
    }
}


.selected-chat {
    background: var(--buttons-purple-color);
    color: white;

    &:hover{
        background: var(--buttons-purple-color);
    }

    .single-info__time{
        color: white;
    }

    .initial-message {
        color: white;
    }
}

.technical {
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    background: var(--main-pink-color);
    color: white;
    display: flex;
    padding: 2rem;
}

.technical-mess {
    font-size: $font-size_h4;

    @include mobile {
        font-size: $font-size_h3;
    }
}

.message-body {
    width: 100%;
    max-height: 10rem;
    overflow: hidden;
    &_technical{
        color: var(--main-pink-color);
    }
}

.not-read {
    width: 1rem;
    height: 1rem;
    border-radius: 5rem;
    background: var(--main-pink-color);
    align-self: center;

    @include mobile {
        width: 1.5rem;
        height: 1.5rem;
    }
}
