@import "public/css/vars";


.pers {
    max-width: 60%;
    margin: auto;
    @include mobile {
        max-width: 100%;
    }
}

.pers-list-row {
    border-top: $border_btn solid var(--border-grey-color);
    border-bottom: $border_btn solid var(--border-grey-color);
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-column-gap: 1rem;
    padding: 0 2rem;
    height: 6rem;
    align-items: center;
    background-color: var(--background-grey-color);
    align-content: center;
    min-width: min-content;
    font-size: $font-size_h4;

    @include mobile {
        grid-template-areas:
                "a b"
                "c c";
        height: 20rem;
        font-size: $font-size_h2_m;
    }

    &__description {
        color: var(--text-light-black);
        min-width: 20rem;
        @include mobile {
            grid-area: a;
            height: 10rem;
        }
    }

    &__input-field {
        min-width: 20rem;
        @include mobile {
            grid-area: b;
            height: 10rem;
            text-align: end;
        }
    }

    &__input {
        height: 4rem;
        min-width: 20rem;
        font-size: $font-size_h4;
        @include mobile {
            grid-area: b;
            font-size: $font-size_h2_m;
            height: 8rem;
            text-align: center;
        }
    }

    &__refactor {
        @include mobile {
            grid-area: c;
            text-align: end;
        }
    }
}

.pers__delete-account {
    margin: 5rem 0;
    text-align: end;
    font-size: $font-size_h5;
    @include mobile {
        font-size: $font-size_h3_m;
    }
}
