.title{
    padding: 50px 0;
    font-size: xx-large;
}
.persNavBar__menu_btn{
    display: flex;
    width: 50%;
    justify-content: center
}
.persNavBar__menu_hrev{
    padding: 20px 0;
    width: 100%;
    text-align: center;
}
.persNavBar__menu_hrev:hover{
    background: var(--main-pink-color);
    color: white;
}
.persNavBar__menu-list{
    display: flex;
    justify-content: space-evenly;
    /*padding: 20px 50px;*/
    border: 1px solid var(--border-grey-color);
}

.persNavBar{
    padding-bottom: 50px;
}
.pers__list{
    display: flex;
    flex-direction: column;
    min-width: 70%;
}

.pers__list_row{
    border-top: 1px solid var(--border-grey-color);
    border-bottom: 1px solid var(--border-grey-color);
    display: flex;
    padding: 0 20px;
    height: 50px;
    align-items: center;
    background-color: #f8f6f6;
}

.pers__list_refactor{
    margin-right: 0;
    margin-left: auto;
}

.description{
    color: var(--text-light-black);
    min-width: 50%;
}

.main__page{
    display: flex;
    width: 100%;
}

.main__page_left{
    min-width: 60%;
    margin: 0 50px 0 0;
}

.delete-account{
    margin: 50px 0;
}