
@import "public/css/vars";

.job{
    display: flex;
    border: $border_btn solid var(--buttons-purple-color);
    padding: 1rem 1rem 0;
    justify-content: space-between;
    cursor: pointer;
    width: 31rem;
    margin-bottom: 1rem;

    @include mobile{
        width: 100%;
    }
}


.job-container{
    color: black;
    width: 100%;
}

.job-container__date{
    display: flex;
    margin-bottom: 0.5rem;
    font-size: $font-size_h4;
    color: var(--buttons-purple-color);
    @include mobile {
        margin-bottom: 0.7rem;
        font-size: $font-size_h4_m;
    }
}
.job-container__date .minus{
    font-size: $font-size_h4;
    color: var(--buttons-purple-color);
}
.job-container__organization{
    font-size: $font-size_h4;
    margin-bottom: 0.5rem;
    font-weight: bolder;
    @include mobile {
        margin-bottom: 0.7rem;
        font-size: $font-size_h4_m;
    }
}

.job-container__position{
    font-size: $font-size_h4;
    margin-bottom: 0.5rem;
    @include mobile {
        margin-bottom: 0.7rem;
        font-size: $font-size_h4_m;
    }
}

.job__delete{
    height: min-content;
}

.job__delete:hover{
    cursor: pointer;
    color: black;
}