
.main__logo-empl {
    width: 70%;
    border-radius: 50%;
    overflow: hidden;
    background-size: contain;
}

.main__info-empl {
    margin-left: 20px;
}

.main__info-header{
    display: flex;
    justify-content: space-between;
}

.main__name-empl a {
    text-decoration:none;
    color: black;
    font-size: 17px;
    margin-bottom: 5px;
}

.main__name-empl {
    font-size: 17px;
    margin-bottom: 10px;
}

.main__name-empl_link {

}

.main__count-open-pos {
    font-size: 12px;
    color: 	var(--buttons-purple-color);
}

.main__specialosm-empl {
    color: var(--main-pink-color);
    font-size: 12px;
    margin-bottom: 10px;
}

.main__location-empl {
    margin-bottom: 10px;
}

.main__location-empl:before{
    content: '';
    background: url(/img/geo1.png) 0 0/cover;
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.main__description-empl {
    font-size: 13px;
    color: grey;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.4;
    height: auto;
}





/*MY*/

.main-content {
    display: grid;
    grid-template-columns: auto 290px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.resume-description h3 {
    font-size: 18px;
    font-weight: 500;
    color: #202020;
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.2;
}

.resume-description p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.resume-description {
    font-size: 13px;
    color: #888888;
    line-height: 24px;
    margin-bottom: 19px;
}

.resume-description li {
    margin-top: 0.5em;
    margin-bottom: 1em;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.education h3 {
    font-size: 16px;
    color: #8b91dd;
    font-weight: 500;
    line-height: 1.2;
    margin: 1px 0;
}
.education p span {
    margin: 1px 0;
    font-size: 13px;
    color: #888888;
}

.university {
    font-size: 15px;
    color: #202020;
    font-weight: 500;
    line-height: 1.2;
    margin-right: 5px;
}

.resume-description i {
    padding-top: 20px;
    padding-right: 20px;
    color: #fb236a;
}

.work-experience {
    display: flex;
    flex-direction: row;
    margin-top: 20px
}

.work-experience i {
    display: inline-block;
    border: 2px solid #8b91dd;
    border-radius: 50%;
    background: #e8ecec;
    content: "";
    height: 15px;
    width: 15px;
    padding: 0;
    margin-right: 10px;
    flex-shrink: 0;
}

.work-position {
    font-size: 16px;
    color: #8b91dd;
    font-weight: 500;
    line-height: 1.2;
}

.name-company {
    color: #202020;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.work-experience p {
    margin: 1px 0;
}

.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.portfolio img {
    margin: 10px;
    border-radius: 8px;
}

.portfolio-image:hover img {
    opacity: 0.3;
}

.prof-skills li {
    font-size: 15px;
}

.prof-skills i {
    /*padding: 5px 10px;*/
}

.prof-skills {
    margin-bottom: 30px;
    font-size: 15px;
}

.prof-skill-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-gray);
    font-family: sans-serif !important;
}

.prof-skill-name span {
    font-size: 13px;

}

.progress-bar {
    background-color: var(--border-grey-color);
    border-radius: 10px;
    height: 8px;
    margin-bottom: 20px;
}

.progress-bar-percent {
    background-color: var(--main-pink-color);
    border-radius: 10px;
    height: 8px;
    margin-bottom: -8px;
    z-index: 2;
    position: relative;
}

.progress-bar span {
    position: absolute;
    top: 30px;
    left: 400px;
}

.content-left-column{
    grid-column: 1;
    padding: 0 15px;
}

.content-right-column {
    grid-column: 2;
    padding: 0 15px;
}