@import "public/css/vars";

.header-left-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: $margin-title;
    grid-column: 1 / 3;
    align-items: center;
    margin-bottom: 2rem;

    @include mobile {
        display: block;
        margin-bottom: 0;
    }
}

.logo-employer {
    min-width: 20rem;
    min-height: 20rem;

    @include mobile {
        width: 10rem;
        height: 10rem;
        margin: auto;
    }

}

.describe-employer {
    font-weight: 500;
    box-sizing: border-box;
    letter-spacing: 0;
    padding-left: 2rem;

    &__vac-name{
        font-size: $font-size_h3;
        color: var(--text-light-black);
        line-height: 1.2;
        margin-bottom: 1rem;

        @include mobile {
            font-size: $font-size_h3_m;
        }
    }

    &__comp-name{
        font-size: $font-size_h4;
        color: var(--text-light-black);
        line-height: 1.2;
        width: min-content;
        margin-bottom: 1rem;
        @include mobile {
            font-size: $font-size_h4_m;
        }
        &:hover{
            color: var(--main-pink-color);
        }
    }

    &__location {
        font-size: $font-size_h5;
        @include mobile {
            font-size: $font-size_h5_m;
        }
        color: #888888;
        line-height: 1rem;
        margin-bottom: 2rem;
    }
}


.contact-employment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 7rem;
}

.contact-employment-item {
    color: var(--text-gray);
    line-height: 3rem;
    font-size: $font-size_h5;
    @include mobile {
        font-size: $font-size_h5_m;
    }
    margin-right: 4rem;

    &__body{
        display: inline-block;
        margin-left: 1rem;
    }
}
.line-box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / 3;

}


.btm-apply-job {
    border-radius: $border-radius_btn;
    padding: $btn_padding;
    font-size: $font-size_btn;

    text-align: center;
    width: 25rem;
    cursor: pointer;
    transition: 0.15s;
    border: solid $border_btn var(--buttons-purple-color);
    color: var(--buttons-purple-color);
    margin: auto;

    @include mobile {
        margin: auto auto 5rem;
        font-size: $font-size_btn_m;
    }

    &:hover {
        background-color: var(--buttons-purple-color);
        color: white;
        transition: 0.15s;
    }
}