@import "public/css/vars";

.header {

    &__small {
        background: linear-gradient(to right, rgba(83, 100, 226, 0.55) 0%, rgba(52, 51, 117, 1) 97%, rgba(51, 49, 114, 1) 100%);
        &_phone{
            background: linear-gradient(to right, rgba(83, 100, 226, 1) 0%, rgba(52, 51, 117, 1) 97%, rgba(51, 49, 114, 1) 100%);
            position: absolute;
            width: 100%;
            height: 100vh;
        }
    }

    &_big {
        background: linear-gradient(to right, rgba(83, 100, 226, 0.55) 0%, rgba(52, 51, 117, 1) 97%, rgba(51, 49, 114, 1) 100%),
        url(Img/bmstuBuilding1.png) 0 0/cover no-repeat;
    }


    z-index: 2;
}

.container {
    max-width: 130rem;
    margin: 0 auto;
}

.header-row {
    display: flex;
    flex-direction: column;
    padding: 1.1rem 0;
}

.header-row-phone {
    display: flex;
    flex-direction: row;
    padding: 1.1rem 0;
    justify-content: space-evenly;
}

.header-search-menu {
    width: 5rem;
    height: 5rem;
    align-self: center;
    background: no-repeat 0 0/cover url(Img/filter.svg);
}

.header-burger-menu {
    width: 5rem;
    height: 5rem;
    align-self: center;
    background: no-repeat 0 0/cover url(Img/menu_to_open.svg);
}

.burger-close-menu {
    width: 5rem;
    height: 5rem;
    align-self: center;
    background: no-repeat 0 0/cover url(Img/menu_to_open.svg);
}

.header-row-top {
    display: flex;
    box-sizing: border-box;
    padding: 1.2rem 0;
    @include mobile {
        flex-direction: column;
    }
    &-menu{
        display: flex;
        justify-content: space-evenly;
        @include mobile {
            justify-content: space-evenly;
            margin-bottom: 5rem;
        }
        &__logo {
            background: url(Img/logo.png) no-repeat 50% 50%;
            width: 34rem;
            height: 10rem;
            @include mobile {
                margin-left: auto;
            }
        }

    }
    &__menu {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        &_is-open{
            align-self: center;
            position: absolute;
            top: 30%;
        }
        @include mobile {
            justify-content: center;
        }

    }
}



.menu-list {
    display: flex;
    text-align: right;
    align-items: baseline;

    @include mobile {
        align-items: start;
        flex-direction: column;
    }
}

.menu-list-block {
    &__item {
        padding: 1.2rem;
        font-size: $font-size_h4;
        color: white;
        transition: 0.15s;
        white-space: nowrap;
        @include mobile {
            text-align: center;
            //margin-bottom: 2rem;
            font-size: $font_size_h2_m;
        }

        &_button {
            border: $border_btn solid var(--main-pink-color);
            background-color: var(--main-pink-color);
            border-radius: $border-radius_btn;
            overflow: hidden;
            padding: $btn_padding;
            transition: background-color 0.15s;

            &:hover {
                background-color: transparent;
                transition: 0.15s;
            }
        }
        &_button_note {
            border: none;
            background: none;
            border-radius: $border-radius_btn;
            overflow: hidden;
            padding: $btn_padding;
            transition: background-color 0.15s;

            &:hover {
                background-color: transparent;
                transition: 0.15s;
            }
        }

        &_simple:hover {
            opacity: 0.7;
            transition: 0.15s;
        }
        &_note_head {
            position: center;
            text-align: center;
            background-color: #45688e;
        }
        &_note {
            position: center;
            text-align: left;
        }

        &_icon-key:before {
            content: "";
            width: $font-size_h4;
            height: $font-size_h4;
            @include mobile {
                width: $font_size_h2_m;
                height: $font_size_h2_m;
            }
            display: inline-block;
            background: url(Img/key.svg) no-repeat 0 0/cover;
        }

        &_icon-link:before {
            content: "";
            width: $font-size_h4;
            height: $font-size_h4;
            @include mobile {
                width: $font_size_h2_m;
                height: $font_size_h2_m;
            }
            display: inline-block;
            white-space: nowrap;
            background: url(Img/user.svg) no-repeat 0 0/cover;
        }
    }

    @include mobile {
        margin-bottom: 4rem;
    }
}



.header-row-bottom {
    color: white;
    margin: 3rem 0;
}

.header-row-bottom__page {
    text-align: center;
    padding: 23rem 0;
    font-size: $font-size_h2;
    line-height: 1.2;
    @include mobile {
        font-size: $font-size_h2_m;
        padding: 5rem 0;
    }
}

.note-popup {
    display: none;
    position: absolute;
    top: 12%;
    z-index: 9;
    overflow: auto;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    background-color: #1d293e;
    max-width: 50%;
    width: 1000px;
    max-height: 70%;
    height: 1500px;
}
