@import "public/css/vars";
@import "public/css/general";

.main-navigation {
    display: flex;
    width: fit-content;
    min-width: 30rem;
    flex-direction: column;
    margin-right: 4rem;
    max-width: 15vw;

     @include mobile {
        display: none;
    }
}

.main-search-form {
    color: grey;
    margin-top: $margin-title;

    &__btn {
        border: $border_btn solid var(--main-pink-color);
        color: var(--main-pink-color);
        border-radius: $border-radius_btn;
        align-self: center;
        transition: 0.15s;
        background: white;
        cursor: pointer;
        font-size: $font-size_btn;
        width: 100%;
        padding: $btn_padding;

        &:hover {
            background-color: var(--main-pink-color);
            color: white;
            transition: 0.15s;
            cursor: pointer;
        }
    }
}


.keywords-search {
    background: white;
    padding: 0 0.5rem 0 2rem;
    border: $border_btn solid var(--border-grey-color);
    border-radius: $border-radius_input;
    margin-bottom: $margin-title;

    &__input {
        width: 24rem;
        height: 5rem;
        font-size: $font_size_h4;
    }

    &:after {
        content: '';
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        background: url(Img/search.svg) no-repeat 0 0/cover;
    }
}


.option-type {
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: 1.5rem;
}

.option-type__name {
    margin-left: 1rem;
    font-size: $font-size_h5;
    cursor: pointer;
}

.option-single-title {
    display: inline-block;
    color: black;
    font-size: $font-size_h4;
    margin-bottom: 1.5rem;
    width: 100%;
    position: relative;
    cursor: pointer;


    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        background: url(Img/minus.svg) no-repeat 0 0/cover;
        width: 2rem;
        height: 2rem;
    }

    &_hidden:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        background: url(Img/plus.svg) no-repeat 0 0/cover;
        width: 2rem;
        height: 2rem;
    }
}