@import "public/css/vars";
@import "public/css/general";


.main-navigation {
    display: flex;
    width: fit-content;
    min-width: 30rem;
    flex-direction: column;
    margin-right: 4rem;
    max-width: 9vw;

    @include mobile {
        position: absolute;
        width: 100%;
        background: var(--background-grey-color-no-alpha);
        min-width: 100vw;
        margin: auto;
        align-items: center;
    }

}

.main-search-form {
    color: grey;
    margin-top: $margin-title;
    @include mobile {
        width: 50rem;
    }

    &__btn {
        border: $border_btn solid var(--main-pink-color);
        color: var(--main-pink-color);
        border-radius: $border-radius_btn;
        align-self: center;
        transition: 0.15s;
        background: white;
        cursor: pointer;
        font-size: $font-size_btn;
        padding: $btn_padding;
        width: 100%;
        margin: 2rem 0;

        @include mobile {
            font-size: $font-size_btn_m;
            padding: $btn_padding_m;
            margin: 5rem 0;
        }

        &:hover {
            background-color: var(--main-pink-color);
            color: white;
            transition: 0.15s;
            cursor: pointer;
        }
    }
}


.keywords-search {
    background: white;
    padding: 0 0.5rem 0 2rem;
    border: $border_btn solid var(--border-grey-color);
    border-radius: $border-radius_input;
    margin-bottom: $margin-title;

    &__input {
        width: 24rem;
        height: 5rem;
        font-size: $font_size_h4;

        @include mobile {
            width: 42rem;
            height: 7rem;
            font-size: $font_size_h3_m;
        }
    }

    &:after {
        content: '';
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        background: url(Img/search.svg) no-repeat 0 0/cover;
        @include mobile {
            vertical-align: text-top;
            width: $font-size_h3_m;
            height: $font-size_h3_m;
        }
    }
}


.option-type {
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: 1.5rem;
    @include mobile {
        margin-bottom: 2rem;
    }
}

.option-type__name {
    margin-left: 1rem;
    font-size: $font-size_h4;
    cursor: pointer;
    @include mobile {
        font-size: $font-size_h3_m;
    }
}

.option-single-title {
    display: inline-block;
    color: black;
    font-size: $font-size_h4;
    margin-bottom: 1.5rem;
    width: 100%;
    position: relative;
    cursor: pointer;
    @include mobile {
        font-size: $font-size_h2_m;
    }


    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        background: url(Img/minus.svg) no-repeat 0 0/cover;
        width: 2rem;
        height: 2rem;
        @include mobile {
            width: $font-size_h2_m;
            height: $font-size_h2_m;
        }
    }

    &_hidden:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        background: url(Img/plus.svg) no-repeat 0 0/cover;
        width: 2rem;
        height: 2rem;
        @include mobile {
            width: $font-size_h2_m;
            height: $font-size_h2_m;
        }
    }
}

.hide {
    display: none;
}