
.main__navigation {
    display: flex;
    min-width: 270px;
    flex-direction: column;
    margin-right: 45px;
    max-width: 15vw;
}

.main__serch-form {
    color: grey;
    margin-top: 45px;
}

.main__keywords > input{
    width: 208px;
    height: 50px;
}

.main__keywords {
    padding: 0 5px 0 20px;
    border: 1px solid var(--border-grey-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.main__keywords::after{
    content: '';
    display: inline-block;
    background: url('~Img/search.png') 0 0/cover;
    width: 16px;
    height: 16px;
}

.main__locations > input{
    width: 208px;
    height: 50px;
}
.main__locations {
    padding: 0 5px 0 20px;
    border: 1px solid var(--border-grey-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.main__locations::after{
    content: '';
    display: inline-block;
    background: url('~Img/geo.png') 0 0/cover;
    width: 16px;
    height: 16px;
}


.main__type{
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
    font-size: 13px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.main__type_name{
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
}

.main__specialism_name {
    display: inline-block;
    color: black;
    font-size: 18px;
    margin-bottom: 25px;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.main__specialism_name:after{
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    background: url('~Img/minus.png') 0 0/cover;
    width: 20px;
    height: 16px;
}

.hidden:after{
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    background: url('~Img/plus.png') 0 0/cover;
    width: 20px;
    height: 16px;
}