@import "public/css/vars";


.main-navigation {
    display: flex;
    width: fit-content;
    min-width: 30rem;
    flex-direction: column;
    margin-right: 4rem;
    max-width: 15vw;

    .mobile & {
        display: none;
    }
}

.main-search-form {
    color: grey;
    margin-top: $margin-title;

    &__btn {
        border: $border_btn solid var(--main-pink-color);
        color: var(--main-pink-color);
        border-radius: $border-radius_btn;
        align-self: center;
        transition: 0.15s;
        background: white;
        cursor: pointer;
        font-size: $font-size_btn;
        width: 100%;
        padding: $btn_padding;

        &:hover {
            background-color: var(--main-pink-color);
            color: white;
            transition: 0.15s;
            cursor: pointer;
        }
    }
}


.keywords-search {
    background: white;
    padding: 0 0.5rem 0 2rem;
    border: $border_btn solid var(--border-grey-color);
    border-radius: $border-radius_input;
    margin-bottom: $margin-title;

    &__input {
        width: 24rem;
        height: 5rem;
        font-size: $font_size_h4;
    }

    &:after {
        content: '';
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 480.606 480.606'%3e%3cpath xmlns='http://www.w3.org/2000/svg' d='M480.606 459.394L352.832 331.619c30.306-35.168 48.654-80.918 48.654-130.876C401.485 90.053 311.433 0 200.743 0S0 90.053 0 200.743s90.053 200.743 200.743 200.743c49.958 0 95.708-18.348 130.876-48.654l127.775 127.775 21.212-21.213zM30 200.743C30 106.595 106.595 30 200.743 30s170.743 76.595 170.743 170.743-76.595 170.743-170.743 170.743S30 294.891 30 200.743z' fill='%23fb236a' data-original='%23000000'/%3e%3c/svg%3e");
    }
}


.option-type {
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: 1.5rem;
}

.option-type__name {
    margin-left: 1rem;
    font-size: $font-size_h5;
    cursor: pointer;
}

.option-single-title {
    display: inline-block;
    color: black;
    font-size: $font-size_h4;
    margin-bottom: 1.5rem;
    width: 100%;
    position: relative;
    cursor: pointer;


    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 485 485'%3e%3cpath xmlns='http://www.w3.org/2000/svg' data-original='%23000000' d='M0 227.5h485v30H0z'/%3e%3c/svg%3e");
        width: 2rem;
        height: 2rem;
    }

    &_hidden:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 485 485'%3e%3cpath xmlns='http://www.w3.org/2000/svg' data-original='%23000000' d='M485 227.5H257.5V0h-30v227.5H0v30h227.5V485h30V257.5H485z'/%3e%3c/svg%3e");
        width: 2rem;
        height: 2rem;
    }
}