
.main-content {
    display: grid;
    grid-template-columns: auto 290px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.content-left-column{
    grid-column: 1;
    padding: 0 15px;
}

.content-right-column {
    grid-column: 2;
    padding: 0 15px;
}

.job-description h3 {
    font-size: 25px;
    font-weight: 550;
    color: #202020;
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.2;
}

.job-description p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.job-description {
    font-size: 18px;
    color: var(--text-gray);
    line-height: 24px;
    margin-bottom: 19px;
}

.job-description li {
    margin-top: 0.5em;
    margin-bottom: 1em;
    list-style-type: none;
}

.job-description li:before {
    margin: 0 5px;
    content: "—";
}

