@import "public/css/vars";


.main-content {
    display: grid;
    grid-template-columns: auto 35rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.content-left-column{
    grid-column: 1;
    padding: 0 1.5rem;
}

.content-right-column {
    grid-column: 2;
    padding: 0 1.5rem;
}

.job-description{
    font-size: $font-size_h4;
    color: var(--text-gray);
    line-height: 2.4rem;
    margin-bottom: 2rem;

    &__h3 {
        font-size: $font-size_h3;
        font-weight: 550;
        color: var(--text-light-black);
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        line-height: 1.2;
    }

    &__p {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    &__li {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        list-style-type: none;

        &:before {
            margin: 0 0.5rem;
            content: "—";
        }
    }
}
