.main__list{
    width: 100%;
}

.main__list_rowGrid{
    display: grid;
    grid-template-areas: "logo info buttons";
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 1fr;
    height: auto;
    align-items: center;
    grid-gap: 1vw;
}


.companyInfo{
    display: grid;
    grid-gap: 0.5vh;
}

.companyInfo > .main__candidate_name {
    font-size: larger;
}

.companyLogo {
    grid-area: logo;
    text-align: center;
    height: auto;
}

.companyBtn > .go_to_resume{
    text-align: center;
}

.company__description {
    max-height: initial;
}