.auth {
    padding-top: 50px;
    text-align: center;

}
.cfield {
    display: flex;
    margin: auto;
    width: 50%;
    position: center;
    margin-bottom: 19px;
    border: 2px solid #e8ecec;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
.enterBtn {
    width: 30%;
    height: 60px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin-top: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid var(--buttons-purple-color);
    background-color: var(--buttons-purple-color);
    color: white;
    transition: 0.15s;
}
.enterBtn:hover{
    background-color: white;
    color: var(--buttons-purple-color);
    transition: 0.15s;
}

.title{
    color:black;
    font: 25px Quicksand, serif;
    margin: 0px 0px 12px;
    text-align: center;
}

.text{
    color:black;
    font: 15px Quicksand, serif;
    margin: 0px 0px 12px;
    text-align: center;
}

.info{
    color:black;
    font: 25px Quicksand, serif;
    margin: 0px 0px 12px;
    text-align: center;
}

/*.info{*/
/*    color:black;*/
/*    font: 10px Quicksand, serif;*/
/*    margin: 0px 0px 12px;*/
/*    margin-bottom: 20px;*/
/*}*/

.error{
    color: red;
    font: 15px Quicksand, serif;
    text-align: center;
}
.error.active {
    padding: 0.3em;
}


