@import "Js/components/header/navBar";
@import "Js/components/searchForm/searchForm";
@import "Js/components/shareBar/shareBar";
@import "Js/components/footer/footer";
@import "Js/components/pagination/pagination";
@import "Js/components/rightColumn/jobOverview";
@import "Js/components/popUpResume/jobBoard/jobBoard";
@import "Js/components/popUpResume/popUpCand/popUpCand";
@import "Js/pages/createCandidateSum/components/createCandidateSum/createCandidateSum";
@import "Js/pages/reg/components/reg_form/reg";
@import "Js/pages/profile/components/listOfResumes/persResumes";
@import "Js/pages/profile/components/personalInfo/persInfo";
@import "Js/pages/profile/components/responses/responses";
@import "Js/pages/company/components/companyPage/company";
@import "Js/pages/employersList/components/listOfEmployers/listOfEmployers";
@import "Js/pages/resume/components/briefInfo/briefInfo";
@import "Js/pages/resume/components/resume/resume";
@import "Js/pages/resume/components/contact/contact";
@import "Js/pages/createCompanySum/components/createCompany/createCompany";
@import "Js/pages/createEmployerSum/components/createEmployerSum/createEmployerSum";
@import "Js/pages/mainPage/components/popularJob/popularJob";
@import "Js/pages/mainPage/components/searchJob/searchJob";
@import "Js/pages/mainPage/components/category/category";
@import "Js/pages/mainPage/components/createResume/createResume";
@import "Js/pages/mainPage/components/gratitudes/gratitudes";
@import "Js/pages/auth/components/auth_form/auth";
@import "Js/pages/vacancy/components/briefInfoJob/briefInfoJob";
@import "Js/pages/vacancy/components/recentJobs/recentJobs";
@import "Js/pages/vacancy/components/vacancy/vacancy";
@import "Js/pages/companiesList/components/companiesList/companyList";
@import "Js/pages/company/components/companyPage/company";
@import "Css/general";














