*{
    margin:0;
    padding:0;
}

.header {
    padding-top: 30px;
    max-width: 1250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
}

.header-image {
    /*background: url(images/mslider1.jpg);*/
    /*background: linear-gradient(45deg, rgba(139,145,221,1) 0%,rgba(16,25,93,1) 71%,rgba(16,25,93,1) 100%);*/

    background-image: linear-gradient(45deg, rgba(139,145,221,0.9) 0%,rgba(16,25,93,0.9) 71%,rgba(16,25,93,0.9) 100%), url(../images/mslider1.jpg);
    background-repeat: repeat;
    background-color: transparent;
    background-attachment: scroll;
    background-position-x: 50%;
    /*background-position-y: -49.9px;*/
    /*height: 100%;*/
    background-size: cover !important;
    background-blend-mode: multiply;
    opacity: 0.8;
}

.navbar {
    width: 100%;
    height: 250px;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    margin-left:auto;
    margin-right:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

.job_name {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    line-height: 1.2;
    font-family: 'Quicksand', serif !important;
    height: 80px;
}

.navbar-item {
    padding: 20px;
    flex-basis: auto;
}

.logo {
    flex-grow: 15;
    /*align-self: flex-start;*/
}

.btm_post_job {
    bottom: 20px;
    border: solid 2px #fb236a;
    border-radius: 40px;
    padding: 10px 27px 10px 27px;
    background: #fb236a;
    line-height: 22.5px;
}

.btm_post_job:hover{
    background: transparent;
    /*transition-delay: 0.1s;*/
}
.btm_acount {
    padding: 20px;
    flex-basis: auto;
}

.job-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 90px;
}

.job-options-employment {
    bottom: 20px;
    border: solid 1px #FFFFFF;
    border-radius: 40px;
    padding: 7px 20px;
    line-height: 22.5px;
    letter-spacing: 0;
    outline: none !important;
    font-size: 12px;
    margin: 10px;
}
.job-options-text {
    font-size: 13px;
    margin: 20px;
}

.main-content {
    display: grid;
    grid-template-columns: auto 290px;
    width: 70%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo-employer {
    float: left;
    border: 2px solid #e8ecec;
    border-radius: 8px;
}

.content-left-column{
    grid-column: 1;
    padding: 0 15px;
}

.header-left-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.describe-employer {
    margin-bottom: 10px;
    font-weight: 500;
    box-sizing: border-box;
    letter-spacing: 0;
    padding-left: 20px;
}
.describe-employer h4 {
    font-size: 24px;
    color: #202020;
    line-height: 1.2;
    font-family: 'Quicksand', serif !important;
}

.describe-employer span {
    font-size: 13px;
    color: #888888;
    line-height: 10px;

}

.contact-employment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 70px;
}

.contact-employment-item {
    color: #888888;
    line-height: 29px;
    font-size: 13px;
    margin-right: 40px;
    margin-top: 11px;

}

.line {
    border-top: 1px solid #888888 !important;
    border: 1px solid#FFFFFF;
    width: auto;
}

.job-description h3 {
    font-size: 18px;
    font-weight: 500;
    color: #202020;
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.2;
    font-family: 'Quicksand', serif !important;
}

.job-description p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.job-description {
    font-size: 13px;
    color: #888888;
    line-height: 24px;
    margin-bottom: 19px;
    font-family: 'Quicksand', serif !important;
}

.job-description li {
    margin-top: 0.5em;
    margin-bottom: 1em;
    list-style-type: none;
}

.job-description li:before {
    content: "— ";
}

.content-right-column {
    grid-column: 2;
    padding: 0 15px;
}

.btm-apply-job {
    border: solid 2px rgb(139, 145, 221);
    color: rgb(139, 145, 221);
    border-radius: 10px;
    padding: 20px;
    line-height: 22.5px;
    font-size: 15px;
    font-family: 'Quicksand', serif !important;
    text-align: center;
    font-weight: bold;
}

.btm-apply-job:hover {
    background-color: rgb(139, 145, 221);
    color: #FFFFFF;
}

.btm-apply-alternative {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;

}

.btm-apply-alternative-item {
    border: solid 2px #e8ecec;
    color: #888888;
    border-radius: 8px;
    padding: 0 20px;
    line-height: 50px;
    font-size: 13px;
    font-family: 'Quicksand', serif !important;
    text-align: center;
    font-weight: bold;
}

.btm-apply-alternative-item:hover {
    background-color: #fb236a;
    color: #FFFFFF;
}

.job-overview h3 {
    font-size: 18px;
    font-weight: 500;
    color: #202020;
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.2;
    font-family: 'Quicksand', serif !important;
}

.job-overview-container {
    border: 2px solid #e8ecec;
    border-radius: 8px;
    padding: 15px;
    list-style-type: none;
}

.job-overview-container li {
    margin: 15px;
}

.inline-icon {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.job-overview-container li i {
    left: 23px;
    top: 5px;
    /*font-size: 30px;*/
    color: #8b91dd;
    padding-right: 10px;
    padding-top: 5px;
}

.job-overview-container li i:hover {
    color: #fb236a;
}

.job-overview-container h2 {
    font-size: 13px;
    font-family: 'Quicksand', serif !important;
    line-height: 1.2;
    font-weight: 500;
}

.job-overview-container span {
    font-size: 13px;
    font-family: 'Quicksand', serif !important;
    color: #888888;
    transition: all 0.4s ease 0s;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 7px;
}

.share-bar {
    padding: 20px;
    font-size: 15px;
    color: #202020;
    line-height: 40px;
    font-family: 'Quicksand', serif !important;
}

.share-bar a {
    display: inline-block;
    width: 47px;
    height: 35px;
    border: 2px solid;
    border-radius: 8px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    /*margin-top: 6px;*/
    margin: 6px;
}

.share-fb {
    color: #3b5998;
    border-color: #3b5998;
}

.share-fb:hover {
    color: #FFFFFF;
    background-color: #3b5998;
}

.share-twitter {
    color: #1da1f2;
    border-color: #1da1f2;
}

.share-twitter:hover {
    color: #FFFFFF;
    background-color: #1da1f2;
}



.recent-jobs h3 {
    font-size: 18px;
    font-weight: 500;
    color: #202020;
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 1.2;
    font-family: 'Quicksand', serif !important;
}

.recent-jobs-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 0;
    border-radius: 4px;

}

.recent-jobs-item:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.recent-jobs-item-right {
    margin-bottom: 10px;
    font-weight: 500;
    box-sizing: border-box;
    letter-spacing: 0;
    padding: 20px;
}

.logo-resent-jobs {
    float: left;
}

.describe-recent-jobs {
    display: inline-block;
}

.describe-recent-jobs h3 {
    font-size: 18px;
    color: #202020;
    line-height: 1.2;
    font-family: 'Quicksand', serif !important;
    margin: 3px;
}

.describe-recent-jobs span {
    font-size: 13px;
    color: #888888;
    line-height: 10px;
    font-family: 'Quicksand', serif !important;
}

.recent-jobs-item-employer {
    color: #8b91dd;
    border: 1px solid #8b91dd;
    border-radius: 4px;
    font-family: Open Sans, serif;
    font-size: 12px;
    padding: 7px 0;
    text-align: center;
    width: 80px;
}

.recent-jobs-item-left {
    padding: 20px;
}

.recent-jobs-item-left h5 {
    font-size: 13px;
    color: #888888;
    line-height: 10px;
    font-family: 'Quicksand', serif !important;
    text-align: right;
    margin-top: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.footer-top {
    background-color: #24324a;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer-top-column {
    padding: 0 30px;
}

.footer-top-column img {
    padding: 3px;
}

.footer-top-column span {
    font-family: Open Sans, serif;
    font-size: 13px;
    line-height: 30px;
    color: #8a99b3;
    text-align: left;
}

.footer-top-column h3 {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    font-family: 'Quicksand', serif !important;
}

.footer-top-column li {
    font-family: Open Sans, serif;
    font-size: 13px;
    line-height: 30px;
    color: #8a99b3;
    text-align: left;
    list-style-type: none;
}

.footer-top-column li:before {
    content: "— ";

}

.inline-column {
    display: inline-block;
}

.footer-bottom {
    padding: 24px 0;
    background-color: #1d293e;
    text-align: center;

}

.footer-bottom span {
    display: inline-block;
    vertical-align: middle;
    font-family: Open Sans, serif;
    font-size: 13px;
    line-height: 24px;
    color: #8a99b3;

}

.inline-heart {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.inline-heart i {
    padding: 5px;
    color: #888888;
    margin-right: 10px;
}
