.search__job{
    padding: 30px 30px;
    border: 1px solid var(--border-grey-color);
}

.descriptionCB{
    margin-bottom: 30px;
    font-size: 20px;
}

.search__job_description{
    margin: 10px 0;
    font-size: 13px;
    color: var(--text-light-black);
}

.CB{
    margin-right: 5px;
}