input.achievement{
    max-width: 50%;
}
form.candidate div {
    margin-bottom: 15px;
}
.form-wrap {
    display: flex;
    width: 100%;
}
.form-wrap h1 {
    font-size: 24px;
    font-weight: 400;
    position: relative;
    margin: 50px 0 5px;
}

.profile {
    width: 50%;

    text-align: center;
    padding: 30px;
}
.profile-photo{
    margin-bottom: 20px;
    width: 100%;
}

.btn-blue{
    border: 2px solid var(--buttons-purple-color);
    color: var(--buttons-purple-color);
    padding: 15px 25px;
    border-radius: 25px;
    align-self: center;
    transition: 0.15s;
    background: white;
    cursor: pointer;
}
.btn-blue:hover{
    background-color: var(--buttons-purple-color);
    color: white;
    transition: 0.15s;
}

.upload-resume{
    padding: 5px;
    justify-content: space-around;
}
.upload-resume > .btn-pink{
    margin: 5px;
    font-size: 15px;
}
.summary {
    /*background: white;*/
    width: calc(100% - 300px);
    padding: 30px 80px;
    border-radius: 0 20px 20px 0;
    color: #7b7b7b;
}

/********************** стилизация элементов формы **********************/
label.form-labels {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

input.user-info {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--border-grey-color);
    border-radius: 10px;
}

input.user-info:focus, textarea:focus { /*выделяем поле при клике*/
    border: 1px solid var(--main-pink-color);
}
label.form-switch {
    position: relative;
    padding-right: 10px;
    cursor: pointer;
    float: left;
    line-height: 40px;
}
input.input-switch {
    position: absolute;
    opacity: 0;
}
.switch-control {
    display: inline-block;
    border: 1px solid var(--border-grey-color);
    top: 0;
    left: 0;
    height: 40px;
    width: 80px;
    background: white;
    border-radius: 10px;
    text-align: center;
}
.male:before {
    content: "мужской";
    font-size: 15px;
}
.female:before {
    content: "женский";
    font-size: 15px;
}
.switch label:hover input ~ .switch-control,
.switch input:focus ~ .switch-control {
    color: var(--main-pink-color);
}
.switch input:checked ~ .switch-control {
    color: var(--main-pink-color);
    border: 1px solid var(--main-pink-color);
}
select.user-all {
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid var(--border-grey-color);
    border-radius: 10px;
    width: 100%;
    background: white;
}
select.small-field {
    margin-left: 5px;
    cursor: pointer;
    padding: 1px 3px;
    border-radius: 5px;
    background: #f8f7f7;
}
div.description-single {
    display: flex;
    justify-content: space-between;
}
.description-block {
    margin: 15px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: center;
}
.btn-pink {
    border: 2px solid var(--main-pink-color);
    color: white;
    width: 100%;
    margin: 50px 0;
    padding: 15px 35px;
    border-radius: 25px;
    align-self: center;
    transition: 0.15s;
    cursor: pointer;
    background: var(--main-pink-color);
}
.btn-pink:hover{
    border: 2px solid var(--main-pink-color);
    background-color: white;
    color: var(--main-pink-color);
    transition: 0.15s;
}

.exp-card {
    margin-top: 15px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 1px #000;
}
.salary-row{
    display: flex;
}
.work-exp-row1 {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work-experience > label{
    display: inline-block;
    font-size: 15px;
}
textarea {
    min-width: 100%;
    max-width: 100%;
    padding:5px;
    border: 1px solid var(--border-grey-color);
    border-radius: 10px;
}
input.date-birth {
    border: 1px solid var(--border-grey-color);
    border-radius: 8px;
    text-align: center;
    padding: 10px;
}
div.upload-photo {
    display: flex;
    justify-content: space-around;
    color: #8473C6FF;
}
div.achievements {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}
.description-block{
    font-size: 23px;
    font-weight: 900;
    color: var(--text-light-black);
    line-height: 1.2;
}
a.languages, a.prof-areas {
    color: #8473C6FF !important;
    text-decoration: none;
    border-bottom:#8473C6FF 1px dotted;
}