input.sum__achievement{
    max-width: 50%;
}


.summary div {
    margin-bottom: 15px;
}
.sum-form-wrap {
    display: flex;
    width: 100%;
  justify-content: center;
}
.sum-form-wrap h1 {
    font-size: 24px;
    font-weight: 400;
    position: relative;
    margin: 50px 0 5px;
}

.sum-profile {
    text-align: center;
}
.sum-profile__photo{
    max-width: inherit;
    margin-bottom: 20px;
    width: 100%;
}

.sum-profile__photo img {
    max-width: 50%;
}

.sum-upload-photo__btn{
    border: 2px solid var(--buttons-purple-color);
    color: var(--buttons-purple-color);
    border-radius: 25px;
    align-self: center;
    transition: 0.15s;
    background: white;
    cursor: pointer;
    padding: 15px 25px;
}
.sum-upload-photo__btn:hover{
    background-color: var(--buttons-purple-color);
    color: white;
    transition: 0.15s;
    cursor: pointer;
}
.sum__upload__resume{
    padding: 5px;
    justify-content: space-around;
}
.sum__upload__resume > .btn-pink{
    margin: 5px;
    font-size: 15px;
}
.summary {
    /*background: white;*/
    width: 100%;
    max-width: 50vw;
    border-radius: 0 20px 20px 0;
    color: var(--text-gray);

}

.sum-candidate{
    min-width: 500px;
}

/********************** стилизация элементов формы **********************/
label.sum-form__labels {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

input.sum-user-info {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--border-grey-color);
    border-radius: 10px;
    font-size: 18px;
}

input.sum-user-info:focus, textarea:focus { /*выделяем поле при клике*/
    border: 1px solid var(--main-pink-color);
}
label.sum-form-switch {
    position: relative;
    padding-right: 10px;
    cursor: pointer;
    float: left;
    line-height: 40px;
}
input.sum-form-switch__input {
    position: absolute;
    opacity: 0;
}
.sum-form-switch__control {
    display: inline-block;
    border: 1px solid var(--border-grey-color);
    top: 0;
    left: 0;
    height: 40px;
    width: 80px;
    background: white;
    border-radius: 10px;
    text-align: center;
}
.sum__male:before {
    content: "мужской";
    font-size: 15px;
}
.sum__female:before {
    content: "женский";
    font-size: 15px;
}
.sum-switch label:hover input ~ .sum-form-switch__control,
.sum-switch input:focus ~ .sum-form-switch__control {
    color: var(--main-pink-color);
}
.sum-switch input:checked ~ .sum-form-switch__control {
    color: var(--main-pink-color);
    border: 1px solid var(--main-pink-color);
}
select.sum-select {
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid var(--border-grey-color);
    border-radius: 10px;
    width: 100%;
    background: white;
    font-size: 18px;
}
select.sum__small_field {
    margin-left: 5px;
    cursor: pointer;
    padding: 1px 3px;
    border-radius: 5px;
    background: #f8f7f7;
}
div.sum__description__single {
    display: flex;
    justify-content: space-between;
}
.sum-description-block {
    margin: 15px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: center;
}
.btn-pink {
    border: 2px solid var(--main-pink-color);
    color: white;
    width: 100%;
    margin: 50px 0;
    padding: 15px 35px;
    border-radius: 25px;
    align-self: center;
    transition: 0.15s;
    cursor: pointer;
    background: var(--main-pink-color);
}
.btn-pink:hover{
    border: 2px solid var(--main-pink-color);
    background-color: white;
    color: var(--main-pink-color);
    transition: 0.15s;
}
.sum__salary__row{
    display: flex;
}
.sum__work__exp__row1 {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sum__work__experience > label{
    display: inline-block;
    font-size: 15px;
}
textarea.sum-form__textarea {
    min-width: 100%;
    max-width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--border-grey-color);
    border-radius: 10px;

}
input.sum__date__birth {
    border: 1px solid var(--border-grey-color);
    border-radius: 8px;
    text-align: center;
    padding: 10px;
}
div.sum-upload-photo {
    display: flex;
    justify-content: space-around;
    color: #8473C6FF;
}
div.sum__achievements {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}
.sum-description-block{
    font-size: 23px;
    font-weight: 900;
    color: var(--text-light-black);
    line-height: 1.2;
}
a.sum__languages, a.sum__prof__areas {
    text-decoration: none;
    border-bottom:#8473C6FF 1px dotted;
}

input.sum__avatar {
    opacity: 0.5;
    width: 100%;
    /*position: absolute;*/
}
