input.sum__achievement{
    max-width: 50%;
}
form.sum__candidate div {
    margin-bottom: 15px;
}
.sum__form__wrap {
    display: flex;
    width: 100%;
}
.sum__form__wrap h1 {
    font-size: 24px;
    font-weight: 400;
    position: relative;
    margin: 50px 0 5px;
}

.sum__profile {
    width: 50%;
    text-align: center;
    padding: 30px;
}
.sum__profile__photo{
    margin-bottom: 20px;
    width: 100%;
}
.sum__btn__blue{
    border: 2px solid var(--buttons-purple-color);
    color: var(--buttons-purple-color);
    padding: 15px 25px;
    border-radius: 25px;
    align-self: center;
    transition: 0.15s;
    background: white;
    cursor: pointer;
}
.sum__btn__blue:hover{
    background-color: var(--buttons-purple-color);
    color: white;
    transition: 0.15s;
}
.sum__upload__resume{
    padding: 5px;
    justify-content: space-around;
}
.sum__upload__resume > .sum__btn__pink{
    margin: 5px;
    font-size: 15px;
}
.summary {
    /*background: white;*/
    width: calc(100% - 300px);
    padding: 30px 80px;
    border-radius: 0 20px 20px 0;
    color: #7b7b7b;
}

/********************** стилизация элементов формы **********************/
label.sum__form__labels {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

input.sum__user__info {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--border-grey-color);
    border-radius: 10px;
}

input.sum__user__info:focus, textarea:focus { /*выделяем поле при клике*/
    border: 1px solid var(--main-pink-color);
}
.sum__header__img-upload{
    border: 2px solid var(--buttons-purple-color);
    color: var(--buttons-purple-color);
    padding: 15px 25px;
    border-radius: 25px;
    align-self: center;
    transition: 0.15s;
    background: white;
    cursor: pointer;
    opacity: 0.5;
    position: absolute;
}
label.sum__form__switch {
    position: relative;
    padding-right: 10px;
    cursor: pointer;
    float: left;
    line-height: 40px;
}
input.sum__input__switch {
    position: absolute;
    opacity: 0;
}
.sum__switch__control {
    display: inline-block;
    border: 1px solid var(--border-grey-color);
    top: 0;
    left: 0;
    height: 40px;
    width: 80px;
    background: white;
    border-radius: 10px;
    text-align: center;
}
.sum__male:before {
    content: "мужской";
    font-size: 15px;
}
.sum__female:before {
    content: "женский";
    font-size: 15px;
}
.sum__switch label:hover input ~ .sum__switch__control,
.sum__switch input:focus ~ .sum__switch__control {
    color: var(--main-pink-color);
}
.sum__switch input:checked ~ .sum__switch__control {
    color: var(--main-pink-color);
    border: 1px solid var(--main-pink-color);
}
select.sum__user__all {
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid var(--border-grey-color);
    border-radius: 10px;
    width: 100%;
    background: white;
}
select.sum__small_field {
    margin-left: 5px;
    cursor: pointer;
    padding: 1px 3px;
    border-radius: 5px;
    background: #f8f7f7;
}
div.sum__description__single {
    display: flex;
    justify-content: space-between;
}
.sum__description__block {
    margin: 15px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: center;
}
.sum__btn__pink {
    border: 2px solid var(--main-pink-color);
    color: white;
    width: 100%;
    margin: 50px 0;
    padding: 15px 35px;
    border-radius: 25px;
    align-self: center;
    transition: 0.15s;
    cursor: pointer;
    background: var(--main-pink-color);
}
.sum__btn__pink:hover{
    border: 2px solid var(--main-pink-color);
    background-color: white;
    color: var(--main-pink-color);
    transition: 0.15s;
}
.sum__exp__card {
    margin-top: 15px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 1px #000;
}
.sum__salary__row{
    display: flex;
}
.sum__work__exp__row1 {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sum__work__experience > label{
    display: inline-block;
    font-size: 15px;
}
textarea.__sum__text {
    min-width: 100%;
    max-width: 100%;
    padding:5px;
    border: 1px solid var(--border-grey-color);
    border-radius: 10px;
}
input.sum__date__birth {
    border: 1px solid var(--border-grey-color);
    border-radius: 8px;
    text-align: center;
    padding: 10px;
}
div.sum__upload__photo {
    display: flex;
    justify-content: space-around;
    color: #8473C6FF;
}
div.sum__achievements {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}
.sum__description__block{
    font-size: 23px;
    font-weight: 900;
    color: var(--text-light-black);
    line-height: 1.2;
}
a.sum__languages, a.sum__prof__areas {
    color: #8473C6FF !important;
    text-decoration: none;
    border-bottom:#8473C6FF 1px dotted;
}