
.pagination {
    display: flex;
    margin: 60px 0;
}

.pagination ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    cursor: initial;
}


.pagination li {
    display: inline-block;
    font-size: 12px;
    margin: 0 10px 0 0;
}

.pagination a{
    border: 3px solid var(--border-grey-color);
    padding: 9px 15px;
    font-size: 13px;
    color: black;
    border-radius: 30px;
    height: 41px;
    transition: 0.15s;
}

.pagination a:hover{
    background: var(--buttons-purple-color);
    color: white;
    border: 3px solid var(--buttons-purple-color);
    transition: 0.15s;
}

.main__prev{
    position: relative;
}
.main__prev > a :before{
    content: '';
    display: inline-block;
    background: url('~Img/prev.png') 0 0/cover no-repeat;
    width: 15px;
    height: 12px;
}

.main__next > a :after{
    content: '';
    display: inline-block;
    background: url('~Img/next.png') 0 0/cover no-repeat;
    width: 15px;
    height: 11px;
}