.main__buttons{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1px;
    align-self: center;
}

.main__buttons_one{
    padding: 10px;
    border: 1px solid var(--main-pink-color);
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
}
.main__buttons_two{
    padding: 10px;
    border: 1px solid var(--main-pink-color);
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
}
.main__buttons_two:hover{
    background-color: var(--main-pink-color);
    color: white;
}

.main__buttons_one:hover{
    background-color: var(--main-pink-color);
    color: white;
}

.main__list-profile{
    max-width: 70%;
    margin: auto;
    @include mobile {
        max-width: 100%;
    }
}